/* styles fpr the wheels themselves */
.pie-yum {
  margin: 1.5em;
}

.pie {
  transform: rotate(-90deg);
  border-radius: 50%;
}

/* style for the value labels for the wheels */
.value{
  position: absolute;
  height: 30px;
  width: 35px;
  text-align: center;
  font-size: 15px;
}

/* value 1 is the value that you get to first moving clockwise so the label is on the right*/
.value1{
  right: 20px;
  border: solid 3px yellow;
}

/* value 2 is the value that you get to second moving clockwise so the label is on the left*/
.value2{
  left: 20px;
  border: solid 3px blue;
}
